body {
  background-color: bisque;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 600px;
  padding: 5px;
  border: 5px dotted maroon;
}

div {
  padding: 10px;
}

h1 {
  text-align: center;
}

footer {
  font-size: 14px;
  text-align: center;
}

h1 {
  background-color: burlywood;
  padding: 15px;
  border-bottom: 10px solid maroon;
}