body {
  background-color: bisque;
}

.row {
  display: flex;
  width: 1000px;
  margin-left: 10;
}

.column {
  flex: 33%;
}

img {
  background-color: coral;
  width: 333px;
  border: 3px dotted black;
  margin: 5px;
  padding: 2px 3px 2px 3px;
}

footer{
  font-size: 8px;
  text-align: center;
}