body {
  background-color: bisque;
}

img {
  width: 250px;
  height: 150px;
  border: 5px solid brown;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  margin: 10px;
  padding: 5px;
  border: 5px dotted maroon;
  text-align: center;
}

footer {
  font-size: 10px;
}

header {
  background-color: burlywood;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-bottom: 10px solid maroon;
  margin-bottom: 10px;
}

p {
  font-family: sans-serif;
}